#submit-image {
    border-radius: 50%;
    width: 40px;
    height: 30px;
}

#file-input-image {
    width: 40px;
    height: 30px;
}

#submit-button {
   
    padding: 0;
    margin: 0;
    display: inline-block;
    border-color: transparent;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color:#808080;
}
#submit-button:hover{
   background-color: #727171;
}



#prompt-text-area {
    align-self: center;
    width: 80%;
    background-color:#808080;
    resize: none;
    border-color: transparent;
    padding: 2px 10px;
    color: white;
}

#prompt-text-area::placeholder{
    color: #aca9a9;
}

#prompt-text-area:focus{
    outline: none;
}

.message-textarea {
    flex: 1;
    min-height: 40px;
    max-height: 200px;
    overflow-y: auto;
    border: none;
    resize: none;
    background: transparent;
}
#file-input-button {
    
    padding: 0;
    margin: 0;
    display: inline;
    background-color: #808080;
    border-color: transparent;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
#file-input-button:hover {
    background-color: #727171;
}

#file-input-element {
    display:none;
}



#fixed-at-bottom {
    position: fixed;
    bottom: 0;
    margin-bottom: 9px;
    display: flex;
    align-self: center;
    width: 900px;
    float: right;
    justify-content: center;
    border-radius: 32px;
}

#sidebar {
    width: 20%;
    padding-top: 80px;
    background-color:azure;
    text-align: center;
    overflow-x:hidden;
    overflow-y:auto;
    position: fixed;
    height: 100vh;
}

#file-select-sidebar {
    list-style-type: none;
    padding:0;
    width:100%;
}

#file-select-sidebar > * {
    background-color: #d4ffff;
    border: 2px solid #d4ffff;
    border-radius: 15px;
    border-bottom: 1px solid #d4ffff;
    border-top: 1px solid #d4ffff;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    text-align:center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 100%;

}

#file-select-sidebar > *:hover{
    background-color: rgba(142, 200, 200);
    cursor: pointer;
    color: black;

}

#history-bar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: azure;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.5s;
    padding-top: 30px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hover-button-history-bar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: gainsboro;
    color: black;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    border: 2px solid gainsboro;
    border-top-left-radius:25px;
    border-bottom-left-radius:25px;
    width: 30px;
    height: 70px;
}

#new-chat-button, #new-image-button {
    background-color: #0075ff;
    color:white;
    width: 50%;
    border: 2px solid white;
    border-radius: 25px;
    height: 40px;
    margin-bottom: 10px;


}

#new-image-button:hover {
background-color: azure;
    color: black;
    width: 45%;
    self-align:center;
    border: 2px solid black;
    border-radius: 25px;
    height: 40px;
    margin-bottom: 10px;
}

#new-chat-button:hover {
    background-color: azure;
    color: black;
    width: 45%;
    self-align:center;
    border: 2px solid black;
    border-radius: 25px;
    height: 40px;
    margin-bottom: 10px;
}

.slider-container {
    margin:50px;
}

.prompt {
    background-color: gray;
    color: white;
    padding-right: 15px;
    padding: 5px 16px;
    margin: 13px 4px;
    border-radius: 10px;
    text-wrap:wrap;
}

.prompt-div {
    self-align: right;
    text-align:right;
}

.response {
    background-color: #f0ffff;
    color: black;
    padding-right: 15px;
    padding: 10px 12px;
    box-sizing: border-box;
    margin: 10px 0px;
    border: 2px solid #f0ffff;
    border-radius: 10px;
}

.response-div {
    self-align: left;
    text-align: left;
}


#load-animation-container {
position: fixed;
bottom: 0;
padding-bottom: 80px;
}

#load-animation {
    display:none;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:100%;
}









#slider-container-img-responses, #dall-e-2-sizes {
    display: none;
}


