<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'gptApp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gptApp/css/style.css' %}">
</head>
<body>
    <header>
        <div class="container-fluid" style="position: fixed; z-index:2;">
            <nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Enhanced GPT</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link"  href="{% url 'index' %}">Chat</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page">Generate Images</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'pdf-reader' %}">PDF Reader</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Help
                        </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">About</a></li>
                        <li><a class="dropdown-item" href="#">Help</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Contact us</a></li>
                      </ul>

                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
    </header>
    <div style="display: flex; height: 100vh;">
        <div id="sidebar">
            <div class="dropdown mb-4">
              <label for="select-model-button" class="item align-left">Select Model</label><br>
              <button id='select-model-button' class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dall-E 3
              </button>
              <ul class="dropdown-menu">
                <li class="dropdown-item imageModelSelect">Dall-E 3</li>
                <li class="dropdown-item imageModelSelect">Dall-E 2</li>
              </ul>
            </div>

            <div id="dall-e-2-sizes">
                <h4><label for="select-size">  Select Size</label></h4>
                <h6><label for="256"><input type="radio" id="256" class="select-size" name="select-size" value="256x256">  256x256</label></h6>
                <h6><label for="512"><input type="radio" id="512" class="select-size" name="select-size" value="512x512">  512x512</label></h6>
                <h6><label for="1024"><input type="radio" id="1024" class="select-size" name="select-size" value="1024x1024">  1024x1024</label></h6>
            </div>

            <div id="dall-e-3-sizes">
                <h5><label for="select-size_">  Select Size</label></h5>
                <h6><label for="1024_"><input type="radio" id="1024_" class="select-size_" name="select-size_" value="1024x1024">  1024x1024</label></h6>
                <h6><label for="1792"><input type="radio" id="1792" class="select-size_" name="select-size_" value="1792x1024">  1792x1024</label></h6>
                <h6><label for="1792_"><input type="radio" id="1792_" class="select-size_" name="select-size_" value="1024x1792">  1024x1792</label></h6>
            </div>

            <div id="quality">
                <h5><label for="select-quality">  Select Quality</label></h5>
                <h6><label for="hd"><input type="radio" id="hd" class="select-quality" name="select-quality" value="hd">  HD</label></h6>
                <h6><label for="standard"><input type="radio" id="standard" class="select-quality" name="select-quality" value="standard">  Standard</label></h6>
            </div>

            <div id="slider-container-img-responses">
            <label for="slider-no-responses">Responses : </label>
            <input type="range" id="slider-no-responses" name="slider-no-responses" min="1" max="10" value="1" step="1">
            <p>Value: <span id="slider-res-no-val">1/10</span></p>
            </div>


        </div>
        <div id="history-bar">
            <button id="hover-button-history-bar">&lt;</button>
            <button type="button" id="new-image-button">New Image</button>
            <ul id="file-select-sidebar">

            </ul>
        </div>
      <div style="width: 100%; padding-top: 80px;">
        <div style="justify-content: center; padding-left:270px; width: 100%; display: flex; text-align: center;">
          <div style="width:70%; align-self:center; margin-bottom:70px;">
            <h1>Image Generation</h1>
              <div id="prompt-responses">
                  <p style="font-family: Arial; text-align:left; background-color: gainsboro; border:2px solid gainsboro; border-radius:8px;">
                    🖼 Create Stunning Images with Dall-E model<br>
                    🖌️ Create an Image by scratch(Write a detailed prompt for better images)<br>
                    ✏️ Edit an Image(Change background and objects in image)<br>
                    🔄 Make Variations of an Image(Dall-E can make variations of images for you)<br>
                  </p>
              </div>
          </div>
          <div id="fixed-at-bottom">
          <input id="file-input-element" type="file" accept="image/*" multiple="false">
          <button id="file-input-button"><img id="file-input-image" src="{% static 'gptApp/images/file.png' %}" alt="file-input-button"></button>
          <textarea id="prompt-text-area"></textarea>
          <button id="submit-button"><img id="submit-image" src="{% static 'gptApp/images/send-blue.png' %}" alt="prompt button"></button>
          </div>
      </div>
      </div>
    </div>

    <script src="{% static 'gptApp/js/bootstrap.bundle.min.js' %}">
      function openWebsite(websiteURL) {
            window.open("history.html", '_');
        }
    </script>
    <script src="{% static 'gptApp/js/image_script.js' %}"></script>
    <script src="{% static 'gptApp/js/markdown.js' %}"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>-->


</body>
</html>