<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'gptApp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gptApp/css/style.css' %}">
</head>
<body>
    <header>
        <div class="container-fluid" style="position: fixed;">
            <nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Enhanced GPT</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Chat</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'image-gen' %}">Generate Images</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page">PDF Reader</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Help
                        </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">About</a></li>
                        <li><a class="dropdown-item" href="#">Help</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Contact us</a></li>
                      </ul>
                        
                      </li>
                    </ul>
                      <div class="dropdown" style="padding-left: 10px; padding-top: 10px;">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          New Chat
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item">New Chat</a></li>
                          <li><a class="dropdown-item" href="{% url 'pdf-reader-his' %}">History</a></li>
                        </ul>
                      </div>
                  </div>
                </div>
              </nav>
        </div>
    </header>
    <div style="display: flex; height: 100vh;">
        <div id="sidebar">
            <div class="dropdown mb-4">
              <label for="select-model-button" class="item align-left">Select Model</label><br>
              <button id='select-model-button' class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                GPT-3.5-turbo
              </button>
              <ul class="dropdown-menu">
                <li class="dropdown-item" onclick="setModel(this)">GPT-3.5-turbo</li>
                <li class="dropdown-item" onclick="setModel(this)">GPT-4o</li>
                <li class="dropdown-item" onclick="setModel(this)">GPT-4-turbo</li>
                <li class="dropdown-item" onclick="setModel(this)">GPT-4</li>
              </ul>
            </div>
            <div class="slider-container-tokens">
            <label for="slider-tokens">Tokens value:</label>
            <input type="range" id="slider-tokens" name="slider-tokens" min="0" max="4000" value="2000" onchange="updateSliderValuesTokens(this.id, this.value, this.max)">
            <p>Value: <span id="sliderValue">2000/4000</span></p>
            </div>
            <div class="slider-container-temperature">
            <label for="slider-tokens">Temperature :</label>
            <input type="range" id="slider-temp" name="slider-tokens" min="0" max="1" value="0.5" step="0.01" onchange="updateSliderValuesTemperature(this.id, this.value, this.max)">
            <p>Value: <span id="sliderVal">0.05/1</span></p>
            </div>
            <div class="role-input" style="padding-left: 10px; padding-top: 10px;">
                <label for="role-input">Enter the role</label>
                <input type="text" id="role-input" name="role-input" onkeydown="updateRole(event, this.value)">
                <p>Current Role: <b><span id="role-info">Helpful Assistant</span></b></p>
            </div>
            <div>
                <h6><input type="checkbox" id="remember-context" onclick="rememberContext(this.check)" checked>
                <label for="remember-context">  Remember Context</label></h6>
                <h6><input type="checkbox" id="stream" onclick="setStream(this.check)" checked>
                <label for="stream">Stream</label></h6>
            </div>

        </div>
      <div style="width: 80%; padding-top: 80px;">
        <div style="justify-content: center; width: 100%; display: flex; flex-direction: column; text-align: center;">
          <h1>Enhanced GPT</h1>
          <div id="fixed-at-bottom">
          <input id="file-input-element" type="file">
          <button id="file-input-button" onmousedown="inputFile()"><img id="file-input-image" src="{% static 'gptApp/images/file.png' %}" alt="file-input-button"></button>
          <textarea id="prompt-text-area" onkeydown="sendThroughCtrlEnter(event, this.value)"></textarea>
          <button id="submit-button" onmousedown="sendThroughClick()"><img id="submit-image" src="{% static 'gptApp/images/send-blue.png' %}" alt="prompt button"></button>
          </div>
      </div>
      </div>
    </div>
        
    <script src="{% static 'gptApp/js/bootstrap.bundle.min.js' %}">
      function openWebsite(websiteURL) {
            window.open("history.html", '_');
        }
    </script>

  <script src="{% static 'gptApp/js/script.js' %}">
          
  </script>
</body>
</html></title>
</head>
<body>

</body>
</html>